<h1>Sign up</h1>
<p>Enter your details below:</p>

<%= form_for @user, :url => {:action => "create" }, :html => {:class => "span4"} do |f| %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name%>

	<%= f.label :last_name %>
	<%= f.text_field :last_name%>
	
	<%= f.label :email %>
	<%= f.text_field :email%>
	
	<%= f.label :password %>
	<%= f.password_field :password%>
	
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
	<br>
	<%= f.submit "Sign up!", :class => "btn btn-large btn-primary" %>
	
<% end %>