<h1>Welcome to HNClone!</h1>
<p>Here's a list of all stories:</p>
  <ul>
<% @stories.each do |story| %>
  <li>
    <%= render 'shared/vote', :commentable => story, :value => 1 %>

  <%= link_to story.title, story_path(story) %> |
  <%= link_to story.url, story.url %> |
  [<%= story.votes.length %>] </li>

  <% end %>
  </ul>
  <br>
  <%= paginate @stories %>


