<h1>New Story</h1>
<p>Submit your link to HNClone</p>
<%= form_for @story, :url => {:action => "create" }, :html => {:class => "span4"} do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	
	<%= f.label :url %>
	<%= f.text_field :url %>
	
	<%= f.hidden_field :user_id, { :value => current_user.id } %>
	<br>
	<%= f.submit "Create", :class=>"btn btn-primary" %>
<% end %>
	